.wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    width: 250px;
    height: 200px;
    padding:10px;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(255, 255, 255, 0.4);
}
.task-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-icon{
    font-size: 30px;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.search-container input{
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    
    
}

.btn-search{
    padding: 10px 45px;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color:  rgba(6, 134, 254, 0.828);
    color: white;
    font-size: 19px;
   

}
@media (max-width:768px){
    .box{
        width: 90%;
    }

}
