nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-btn{
    padding: 10px 12px;
    border:none;
    border-radius: 15px;
    font-size: 18px;
    background-color: rgba(6, 134, 254, 0.828);
    transition: transform 0.3s ease-in-out;
}

.add-btn:hover{
    transform: scale(1.04);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media(max-width:768px){
    .add-btn{
        position: fixed;
        bottom: 20px;
        right: 10px;
        width: 75px;
        height: 75px;
        border-radius: 100%;
    }
    .btn-name{
        display: none;
    }
    .btn-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
}